* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-size: 10px;
}
body {
    height: 100%;
}
a, a:hover {
    text-decoration: none;
}
#layout {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    display: none;
}
html.android #layout {
    /*display: block;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 100%;
}
html.android .promocontent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 100%;
}
.promocontent {
    position: relative;
    z-index: 4;

    display: none;

}
.btn_download {
    height: 5em;
    width: 33em;
	max-width:95%;
    margin: 1em auto 1em;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    line-height: 5em;
    text-transform: uppercase;
    border-radius: 2em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.btn_download:before {
    content: '';
    width: 2em;
    height: 2em;
    background:  url('../img/download.svg') 0 0 no-repeat;
    background-size: contain;
    display: block;
    margin-right: 1em;
}
.btn_download:after {
    content: 'скачать приложение';
    display: block;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
}
.btn_play {
    height: 5em;
    width: 33em;
	max-width:95%;
    margin: 1em auto 1em;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    line-height: 5em;
    text-transform: uppercase;
    border-radius: 2em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.btn_play:before {
    content: '';
    width: 2em;
    height: 2em;
    background:  url('../img/phone.svg') 0 0 no-repeat;
    background-size: contain;
    display: block;
    margin-right: 1em;
}
.btn_play:after {
    content: 'играть на телефоне';
    display: block;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
}

.btn_blue {
    background: #006DFF;
    color: #fff;
}
.lnk_blue {
    color: #006DFF;
    text-decoration: underline;
}





@media all and (max-width: 350px) {
    .btn_play,
    .btn_download {
        width: 30em;
		max-width:90%;
    }

}